---
interface Props {
    abautMe: string;
}

const {abautMe} = Astro.props;
---
<div id="SMi">
    <h1>Abaut Me</h1>
    <p>{abautMe}</p>
<style>
    div{
        padding: 20px;
        font-size: 18px;
    }
    h1{
     font-size: 3em;
     margin-bottom: 0;
    }
</style>