---

---
<footer>
    <p>© 2024 Your name here. All rights reserved.</p>
</footer>
<style>
    footer{
        border-top: 1px black solid;
        margin: 20px 0 0 80px;
        height: 100px;
        border-radius: 25px 25px 0 0;
        background-color: palevioletred;
        text-align: center;
    }
</style>