---

---
<nav class="mdc-navigation">
    <div class="mdc-navigation">
        <ul class="mdc-navigation__list">
            <ul class="mdc-navigation__list">
                <li class="mdc-navigation__item">
                    <a href="#home" class="mdc-navigation__link">
                        <svg height="30px" width="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> <path d="M15 18H9" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>
                    </a>
                </li>
                <li class="mdc-navigation__item">
                    <a href="#SMi" class="mdc-navigation__link">
                        <svg height="30px" width="30px" fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M16 15.503A5.041 5.041 0 1 0 16 5.42a5.041 5.041 0 0 0 0 10.083zm0 2.215c-6.703 0-11 3.699-11 5.5v3.363h22v-3.363c0-2.178-4.068-5.5-11-5.5z"></path></g></svg>
                    </a>
                </li>
                <li class="mdc-navigation__item">
                    <a href="#SKills" class="mdc-navigation__link">
                        <svg fill="#000000" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 232.688 232.688" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="XMLID_350_"> <g id="XMLID_351_"> <path id="XMLID_352_" d="M97.688,61.344h120c8.284,0,15-6.716,15-15s-6.716-15-15-15h-120c-8.284,0-15,6.716-15,15 S89.403,61.344,97.688,61.344z"></path> </g> <g id="XMLID_439_"> <path id="XMLID_440_" d="M217.688,101.344h-120c-8.284,0-15,6.716-15,15s6.716,15,15,15h120c8.284,0,15-6.716,15-15 S225.972,101.344,217.688,101.344z"></path> </g> <g id="XMLID_441_"> <path id="XMLID_443_" d="M217.688,171.344h-120c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h120c8.284,0,15-6.716,15-15 C232.688,178.06,225.972,171.344,217.688,171.344z"></path> </g> <g id="XMLID_444_"> <path id="XMLID_445_" d="M48.785,104.408l-9.989-1.452l-4.467-9.052c-1.264-2.56-3.87-4.181-6.726-4.181 c-2.854,0-5.462,1.621-6.726,4.181l-4.468,9.052l-9.988,1.452c-2.825,0.41-5.173,2.389-6.055,5.104 c-0.882,2.715-0.146,5.695,1.897,7.688l7.228,7.045l-1.707,9.949c-0.483,2.814,0.674,5.658,2.983,7.336 c1.307,0.95,2.853,1.433,4.409,1.433c1.193,0,2.392-0.285,3.489-0.861l8.936-4.698l8.936,4.698 c1.098,0.577,2.296,0.861,3.489,0.861c0.007,0,0.015,0,0.021,0c4.142-0.001,7.499-3.358,7.499-7.5 c0-0.629-0.077-1.241-0.223-1.825l-1.612-9.393l7.228-7.045c2.045-1.993,2.78-4.973,1.898-7.688 C53.958,106.797,51.61,104.818,48.785,104.408z"></path> </g> <g id="XMLID_446_"> <path id="XMLID_447_" d="M48.785,34.408l-9.989-1.452l-4.467-9.052c-1.264-2.56-3.87-4.181-6.726-4.181 c-2.854,0-5.462,1.621-6.726,4.181l-4.468,9.052l-9.988,1.452c-2.825,0.41-5.173,2.389-6.055,5.104 c-0.882,2.715-0.146,5.695,1.897,7.688l7.228,7.045l-1.707,9.949c-0.483,2.814,0.674,5.658,2.983,7.336 c1.307,0.95,2.853,1.433,4.409,1.433c1.193,0,2.392-0.285,3.489-0.861l8.936-4.698l8.936,4.698 c1.098,0.577,2.296,0.861,3.489,0.861c0.007,0,0.015,0,0.021,0c4.142,0,7.499-3.358,7.499-7.5c0-0.629-0.077-1.241-0.223-1.825 l-1.612-9.393l7.228-7.045c2.045-1.993,2.78-4.973,1.898-7.688C53.958,36.797,51.61,34.818,48.785,34.408z"></path> </g> <g id="XMLID_448_"> <path id="XMLID_449_" d="M48.785,174.408l-9.989-1.452l-4.467-9.052c-1.264-2.56-3.87-4.181-6.726-4.181 c-2.854,0-5.462,1.621-6.726,4.181l-4.468,9.052l-9.988,1.452c-2.825,0.41-5.173,2.389-6.055,5.104 c-0.882,2.715-0.146,5.695,1.897,7.688l7.228,7.045l-1.707,9.949c-0.483,2.814,0.674,5.658,2.983,7.336 c1.307,0.95,2.853,1.433,4.409,1.433c1.193,0,2.392-0.285,3.489-0.861l8.936-4.698l8.936,4.698 c1.098,0.577,2.296,0.861,3.489,0.861c0.007,0,0.015,0,0.021,0c4.142-0.001,7.499-3.358,7.499-7.5 c0-0.629-0.077-1.241-0.223-1.825l-1.612-9.393l7.228-7.045c2.045-1.993,2.78-4.973,1.898-7.688 C53.958,176.797,51.61,174.818,48.785,174.408z"></path> </g> </g> </g></svg>
                    </a>
                </li>
                <li class="mdc-navigation__item">
                    <a href="#Projects" class="mdc-navigation__link">
                        <svg viewBox="0 0 24 24" height="30px" width="30px" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3.69364 4.5019C3.29582 4.11881 2.66277 4.13076 2.27968 4.52858C1.89659 4.9264 1.90854 5.55945 2.30636 5.94254L3.69364 4.5019ZM4.84615 7L4.15251 7.72032C4.53976 8.09323 5.15255 8.09323 5.5398 7.72032L4.84615 7ZM9.69364 3.72032C10.0915 3.33723 10.1034 2.70418 9.72032 2.30636C9.33723 1.90854 8.70418 1.89659 8.30636 2.27968L9.69364 3.72032ZM13 3C12.4477 3 12 3.44772 12 4C12 4.55228 12.4477 5 13 5V3ZM20 16C20 16.5523 20.4477 17 21 17C21.5523 17 22 16.5523 22 16H20ZM19.908 4.21799L20.362 3.32698L19.908 4.21799ZM20.782 5.09202L19.891 5.54601V5.54601L20.782 5.09202ZM2 16C2 16.5523 2.44772 17 3 17C3.55228 17 4 16.5523 4 16H2ZM4 11C4 10.4477 3.55228 10 3 10C2.44772 10 2 10.4477 2 11H4ZM2 16V15C1.44772 15 1 15.4477 1 16H2ZM22 16H23C23 15.4477 22.5523 15 22 15V16ZM3.09202 19.782L3.54601 18.891L3.09202 19.782ZM2.21799 18.908L3.10899 18.454L2.21799 18.908ZM21.782 18.908L20.891 18.454L21.782 18.908ZM20.908 19.782L20.454 18.891L20.908 19.782ZM2.30636 5.94254L4.15251 7.72032L5.5398 6.27968L3.69364 4.5019L2.30636 5.94254ZM5.5398 7.72032L9.69364 3.72032L8.30636 2.27968L4.15251 6.27968L5.5398 7.72032ZM13 5H17.8V3H13V5ZM20 7.2V16H22V7.2H20ZM17.8 5C18.3766 5 18.7488 5.00078 19.0322 5.02393C19.3038 5.04612 19.4045 5.0838 19.454 5.10899L20.362 3.32698C19.9836 3.13419 19.5904 3.06287 19.195 3.03057C18.8114 2.99922 18.3436 3 17.8 3V5ZM22 7.2C22 6.65645 22.0008 6.18864 21.9694 5.80497C21.9371 5.40963 21.8658 5.01641 21.673 4.63803L19.891 5.54601C19.9162 5.59545 19.9539 5.69617 19.9761 5.96784C19.9992 6.25117 20 6.62345 20 7.2H22ZM19.454 5.10899C19.6422 5.20487 19.7951 5.35785 19.891 5.54601L21.673 4.63803C21.3854 4.07354 20.9265 3.6146 20.362 3.32698L19.454 5.10899ZM4 16V11H2V16H4ZM2 17H22V15H2V17ZM21 16V16.8H23V16H21ZM18.8 19H5.2V21H18.8V19ZM3 16.8V16H1V16.8H3ZM5.2 19C4.62345 19 4.25117 18.9992 3.96784 18.9761C3.69617 18.9539 3.59545 18.9162 3.54601 18.891L2.63803 20.673C3.01641 20.8658 3.40963 20.9371 3.80497 20.9694C4.18864 21.0008 4.65645 21 5.2 21V19ZM1 16.8C1 17.3436 0.999222 17.8114 1.03057 18.195C1.06287 18.5904 1.13419 18.9836 1.32698 19.362L3.10899 18.454C3.0838 18.4045 3.04612 18.3038 3.02393 18.0322C3.00078 17.7488 3 17.3766 3 16.8H1ZM3.54601 18.891C3.35785 18.7951 3.20487 18.6422 3.10899 18.454L1.32698 19.362C1.6146 19.9265 2.07354 20.3854 2.63803 20.673L3.54601 18.891ZM21 16.8C21 17.3766 20.9992 17.7488 20.9761 18.0322C20.9539 18.3038 20.9162 18.4045 20.891 18.454L22.673 19.362C22.8658 18.9836 22.9371 18.5904 22.9694 18.195C23.0008 17.8114 23 17.3436 23 16.8H21ZM18.8 21C19.3436 21 19.8114 21.0008 20.195 20.9694C20.5904 20.9371 20.9836 20.8658 21.362 20.673L20.454 18.891C20.4045 18.9162 20.3038 18.9539 20.0322 18.9761C19.7488 18.9992 19.3766 19 18.8 19V21ZM20.891 18.454C20.7951 18.6422 20.6422 18.7951 20.454 18.891L21.362 20.673C21.9265 20.3854 22.3854 19.9265 22.673 19.362L20.891 18.454Z" fill="#000000"></path> </g></svg>
                    </a>
                </li>
                <li class="mdc-navigation__item">
                    <a href="#contact" class="mdc-navigation__link">
                        <svg viewBox="0 0 24 24" height="30px" width="30px" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 5.5C3 14.0604 9.93959 21 18.5 21C18.8862 21 19.2691 20.9859 19.6483 20.9581C20.0834 20.9262 20.3009 20.9103 20.499 20.7963C20.663 20.7019 20.8185 20.5345 20.9007 20.364C21 20.1582 21 19.9181 21 19.438V16.6207C21 16.2169 21 16.015 20.9335 15.842C20.8749 15.6891 20.7795 15.553 20.6559 15.4456C20.516 15.324 20.3262 15.255 19.9468 15.117L16.74 13.9509C16.2985 13.7904 16.0777 13.7101 15.8683 13.7237C15.6836 13.7357 15.5059 13.7988 15.3549 13.9058C15.1837 14.0271 15.0629 14.2285 14.8212 14.6314L14 16C11.3501 14.7999 9.2019 12.6489 8 10L9.36863 9.17882C9.77145 8.93713 9.97286 8.81628 10.0942 8.64506C10.2012 8.49408 10.2643 8.31637 10.2763 8.1317C10.2899 7.92227 10.2096 7.70153 10.0491 7.26005L8.88299 4.05321C8.745 3.67376 8.67601 3.48403 8.55442 3.3441C8.44701 3.22049 8.31089 3.12515 8.15802 3.06645C7.98496 3 7.78308 3 7.37932 3H4.56201C4.08188 3 3.84181 3 3.63598 3.09925C3.4655 3.18146 3.29814 3.33701 3.2037 3.50103C3.08968 3.69907 3.07375 3.91662 3.04189 4.35173C3.01413 4.73086 3 5.11378 3 5.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    </a>
                </li>
            </ul>
    </div>
</nav>
<style>

.main-container {
    display: flex;
    height: 60vh;
}

.mdc-navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 85px;
    height: 100vh; 
    background-color:palevioletred;
}
.mdc-navigation li{
    border-radius: 15px;
    margin: 7px;
    margin-bottom: 50px;

}

.mdc-navigation__list {
    list-style: none;
    padding: 0;
    margin: 4px;
}
.mdc-navigation__item {
    margin-bottom: 8px;
    background-color: pink;
}
.mdc-navigation__item:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.mdc-navigation__link {
    display: flex;
    align-items: center;
    padding: 16px;
    text-decoration: none;
    color: black;
}
</style>